@import "~/.config/rofi/colors.rasi"

* {
    font: "Inter 13";
    text-color: @fg-col;
    background-color: transparent;
    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
    location: center;
    width: 500px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.10);
    border: 2px;
    border-color: @accent-col;
}

mainbox {
    padding: 22px;
    spacing: 14px;
}

inputbar {
    padding: 12px 16px;
    border-radius: 22px;
    background-color: @accent-soft;
    border: 2px;
    border-color: @border-col;
    children: [ prompt, entry ];
}

prompt {
    padding: 0 10px 0 0;
    text-color: @fg-col;
}

entry {
    placeholder: "";
    text-color: @fg-col;
}

listview {
    lines: 7;
    columns: 1;
    fixed-height: false;
    spacing: 10px;
}

element {
    padding: 14px 18px;
    border-radius: 24px;
    background-color: @accent-soft;
    border: 2px;
    border-color: @border-col;
}

element selected normal,
element selected active,
element selected urgent {
    background-color: @sel-bg;
    border-color: @accent-col;
    text-color: #ffffff;
}

element-text {
    text-color: inherit;
    vertical-align: 0.5;
}
